.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  overflow-y: hidden;
  font-family: "Roboto", sans-serif;
  background-color: $color-body-bckgrnd;
  background-image: url("../img/dino.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  transition: 0s;
}

.button {
  display: block;
  width: fit-content;
  min-width: 30rem;
  padding: 1.5rem 0;
  font-weight: 700;
  font-size: 2.4em;
  font-family: "Roboto", sans-serif;
  color: $color-button-text;
  text-transform: uppercase;
  background-color: $color-button-bckgrnd;
  border: 0.1rem solid $color-button-border;
  border-radius: 2.5rem;
  filter: drop-shadow(0 0.4rem 0.4rem $color-button-shadow);
  user-select: none;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background-color: $color-title-fifth;
  }

  &:disabled {
    background-color: $color-button-disabled;
    border-color: $color-button-border-disabled;
  }
}

.button-mistakes {
  background-color: $color-button-border;
}

.title {
  font-weight: 400;
  font-size: 4em;
  font-family: "Ribeye", serif;
  text-align: center;
  color: $color-title-second;
}

.wrapper {
  width: 100%;
  max-width: 32rem;
  margin: 0 auto;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2.4rem;
}

.main {
  display: flex;
  flex-grow: 0.85;
  flex-direction: column;
  row-gap: 2vh;
  padding-bottom: 3rem;
}
