.example {
  &__text {
    width: fit-content;
    margin: 0 auto;
    font-weight: 700;
    font-size: 4em;
    color: $color-title-fifth;
    text-shadow: -0.01em 0 $color-border-example, 0 0.01em $color-border-example, 0.01em 0 $color-border-example, 0 -0.01em $color-border-example;
  }

  &__input {
    display: block;
    max-width: 10rem;
    margin: 0 auto;
    font-weight: 700;
    font-size: 4.8em;
    text-align: center;
    color: $color-title-third;
  }

  &__wrapper {
    background-color: $color-example-screen;
    border: 0.2rem solid $color-button-border-disabled;
    border-radius: 2rem;
  }
}
