.footer {
  position: sticky;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2rem;
  margin: 1rem 0;
  font-size: 1.1em;
  background-color: $color-footer-bckgrnd;

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 30rem;
    height: fit-content;
  }

  &__block {
    display: flex;
    color: $color-title-third;
    column-gap: 0.5rem;
  }

  &__link {
    color: $color-footer-link;
    text-decoration: none;
  }

  &__year {
    font-weight: 700;
    color: $color-footer-year;
  }
}
