.footer {
  position: sticky;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2rem;
  margin: 1rem 0;
  font-size: 1.2em;
  background-color: $color-footer-bckgrnd;

  &__wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    width: 100%;
    max-width: 50rem;
    height: fit-content;
    padding: 0 2rem;

    @media (width <= $width-min) {
      padding: 0;
    }
  }

  &__block {
    display: flex;
    color: $color-title-third;
    column-gap: 0.5rem;
  }

  &__link {
    color: $color-footer-link;
    text-decoration: none;
  }

  &__year {
    justify-self: center;
    font-weight: 700;
    color: $color-footer-year;
  }

  &__design {
    justify-self: end;
  }
}
