.game {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 1.4rem;
    background-color: $color-example-main;
    border: 0.2rem double $color-button-bckgrnd;
    border-radius: 2rem;
    row-gap: 2vh;
  }

  &__info {
    width: 21.9rem;
    height: 7rem;
    padding: 0.3em;
    font-size: 2.2em;
    background-color: $color-info-bckgrnd;
    border: 0.2rem solid $color-button-border-disabled;
    border-radius: 1rem;
  }

  &__example-wrapper {
    width: 24rem;
  }
}
