.game {
  &__main {
    flex-grow: 0;
    max-width: 30rem;
    margin: 0 auto;
    padding: 3rem;
    background-color: $color-example-main;
    border: 0.2rem double $color-button-bckgrnd;
    border-radius: 2rem;
  }
}
