.help {
  &__wrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
    row-gap: 1rem;
  }

  &__title {
    font-size: 3.8em;
  }

  &__paragraph {
    max-width: 90vw;
    font-size: 1.8em;
    color: $color-title-fourth;
  }
}
