.keys {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    gap: 1.2rem;
    margin: 0 auto;
  }

  &__button {
    width: 6.5rem;
    min-width: min-content;
    padding: 0;
  }

  &__cancel {
    background-color: $color-button-border;
  }

  &__submit {
    background-color: $color-title-second;
    border-color: $color-title-third;
  }
}
