.menu {
  &__ul {
    list-style: none;
  }

  &__home {
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
    background-image: url("../img/home-icon.svg");
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      cursor: pointer;
    }
  }
}
