.menu {
  &__ul {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    column-gap: 1rem;
  }

  &__item {
    width: 4rem;
    height: 4rem;
    list-style: none;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      cursor: pointer;
    }
  }

  &__home {
    background-image: url("../img/home-icon.svg");
  }

  &__instruction {
    background-image: url("../img/info-icon.svg");
  }
}
