*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  transition: 0.3s;
}

html {
  font-size: 62.5%;

  @media (height <= $height-min) {
    font-size: 50%;
  }

  @media (height > $height-max) {
    font-size: 1.3vh;
  }
}

body {
  margin: 0;
}

progress[value] {
  appearance: none;
}
