.score {
  &__wrapper {
    font-size: 1.8em;
    text-align: center;
    color: $color-button-settings-close;
  }

  &__title {
    font-size: 0.9em;
  }

  &__value {
    font-weight: 700;
    font-size: 1.3em;
  }
}
