.start {
  &__body {
    background-image: url("../img/dino.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto;
  }

  &__image-wrapper {
    overflow: hidden;
  }

  &__image {
    object-fit: cover;
    object-position: center;
  }
}

