$color-body-bckgrnd: #fbf5f2;
$color-button-bckgrnd: #eb9f4a;
$color-button-text: #ffffff;
$color-button-border: #000000;
$color-button-shadow: rgba(0, 0, 0, 25%);
$color-title-second: #77b29f;
$color-title-third: #ab70df;
$color-title-fourth: #6884f6;
$color-title-fifth: #ecc055;
