$color-body-bckgrnd: #fbf5f2;
$color-border-example: #c4c4c4;
$color-button-bckgrnd: #eb9f4a;
$color-button-disabled: #e9e8e8;
$color-button-text: #ffffff;
$color-button-border: #fd641d;
$color-button-border-disabled: rgba(0, 0, 0, 20%);
$color-button-shadow: rgba(0, 0, 0, 25%);
$color-example-main: #faebd7;
$color-example-screen: #fff8dc;
$color-header-bckgrnd: #e6e6fa;
$color-info-bckgrnd: #fffaf0;
$color-title-second: #77b29f;
$color-title-third: #ab70df;
$color-title-fourth: #6884f6;
$color-title-fifth: #ecc055;
